/* --------Reset-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* --------Common-------- */
/* -----Body----- */
body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffc5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* -----Button----- */
button {
  font-size: 0.9rem;
  padding: 15px 50px;
  background-color: #f08d18;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* --------Container-------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* -----Heading----- */
.container h1 {
  font-size: 2rem;
  color: #000;
}

/* -----Logo----- */
.container img {
  width: 200px;
  margin: 30px 0;
}
