<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Style sheet -->
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Wild Fire Prediction</h1>
      <img src="{{url_for('static', filename='logo.png')}}" alt="logo" />
      <button id="load-btn">Load</button>
    </div>
    <!-- Script file -->
    <script src="/static/main.js"></script>
  </body>
</html>
